<head>
    <f:section name="stylesheets">
        <!-- CSS lightbox -->
        <link rel="stylesheet" href="https://rawgithub.com/ashleydw/lightbox/master/dist/ekko-lightbox.css">
        <link rel="stylesheet" href="{f:uri.resource(path: 'Styles/owl.carousel.css', package: 'MapSeven.Gallery')}">
        <link rel="stylesheet" href="{f:uri.resource(path: 'Styles/owl.theme.css', package: 'MapSeven.Gallery')}">
    </f:section>
</head>
<body>
<f:section name="bodyScripts">
    <!-- JS lightbox -->
    <script src="https://rawgithub.com/ashleydw/lightbox/master/dist/ekko-lightbox.js"></script>
    <script src="{f:uri.resource(path: 'Scripts/lightbox.js', package: 'MapSeven.Gallery')}"></script>
    <script src="{f:uri.resource(path: 'Scripts/owl.carousel.min.js', package: 'MapSeven.Gallery')}"></script>
    <script src="{f:uri.resource(path: 'Scripts/carousel.js', package: 'MapSeven.Gallery')}"></script>
</f:section>
</body>