{namespace neos=Neos\Neos\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}
<figure>
<f:if condition="{image}">
    <f:then>
        <f:if condition="{link}">
            <f:then>
                <a class="thumbnail" href="{link}"><media:image image="{image}" alt="{alternativeText}" title="{title}" maximumWidth="{maximumWidth}" maximumHeight="{maximumHeight}" allowCropping="{allowCropping
}" allowUpScaling="{allowUpScaling}" class="{imageClassName}" /></a>
            </f:then>
            <f:else>
                <f:if condition="{clickEnlarge}">
                    <f:then>
                        <a class="thumbnail" href="{media:uri.image(image:image, maximumWidth:lightbox.maximumWidth, maximumHeight:lightbox.maximumHeight, allowCropping:lightbox.allowCropping, allowUpScaling:lightbox.allowUpScaling)}" data-toggle="lightbox" data-title="{title}" data-parent="" data-gallery="{showInGallery -> f:format.stripTags()}" data-footer="{caption -> f:format.stripTags()}">
                        <media:image image="{image}" alt="{alternativeText}" title="{title}" maximumWidth="{maximumWidth}" maximumHeight="{maximumHeight}" allowCropping="{allowCropping
}" allowUpScaling="{allowUpScaling}" class="{imageClassName}" /></a>
                    </f:then>
                    <f:else>
                        <media:image image="{image}" alt="{alternativeText}" title="{title}" maximumWidth="{maximumWidth}" maximumHeight="{maximumHeight}" allowCropping="{allowCropping
}" allowUpScaling="{allowUpScaling}" class="{imageClassName}" />
                    </f:else>
                </f:if>
            </f:else>
        </f:if>
    </f:then>
    <f:else>
        <f:security.ifAccess privilegeTarget="TYPO3_Neos_Backend_GeneralAccess">
            <f:if condition="{node.context.workspace.name} != 'live'">
                <img src="{f:uri.resource(package: 'Neos.Neos', path: 'Images/dummy-image.svg')}" title="Dummy image" alt="Dummy image" class="neos-handle" />
            </f:if>
        </f:security.ifAccess>
    </f:else>
</f:if>
<f:if condition="{hasCaption}">
    <figcaption>
        {neos:contentElement.editable(property: 'caption', node: node)}
    </figcaption>
</f:if>
</figure>