{namespace neos=Neos\Neos\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}
<f:if condition="{previewImage}">
    <f:then>
        <a href="{media:uri.image(image:previewImage, maximumWidth:lightbox.maximumWidth, maximumHeight:lightbox.maximumHeight, allowCropping:lightbox.allowCropping, allowUpScaling:lightbox.allowUpScaling)}" data-toggle="lightbox" data-gallery="{node.identifier}" class="thumbnail" data-title="{properties.title}" data-footer="1/{data.count}">
            <media:image image="{previewImage}" alt="{f:if(condition: previewImage.title, then: previewImage.title, else: previewImage.resource.filename)}" maximumWidth="{maximumWidth}" maximumHeight="{maximumHeight}" allowCropping="{allowCropping}" allowUpScaling="{allowUpScaling}" class="{imageClassName}" />
        </a>
    </f:then>
    <f:else>
        <div class="row">
    </f:else>
</f:if>
<f:for each="{data.assets}" as="image" key="key" iteration="assetsIterator">
    <f:if condition="{previewImage}">
        <f:then>
            <div data-toggle="lightbox" data-gallery="{node.identifier}" data-title="{properties.title}" data-footer="{key}/{data.count}" data-remote="{media:uri.image(image:image, maximumWidth:lightbox.maximumWidth, maximumHeight:lightbox.maximumHeight, allowCropping:lightbox.allowCropping, allowUpScaling:lightbox.allowUpScaling)}"></div>
        </f:then>
        <f:else>
            <a href="{media:uri.image(image:image, maximumWidth:lightbox.maximumWidth, maximumHeight:lightbox.maximumHeight, allowCropping:lightbox.allowCropping, allowUpScaling:lightbox.allowUpScaling)}" data-toggle="lightbox" data-gallery="{node.identifier}" class="col-sm-{properties.columns} thumbnail" data-title="{properties.title}" data-footer="{assetsIterator.cycle}/{data.count}" style="margin-bottom: {properties.marginBottom}px;">
                <media:image image="{image}" alt="{f:if(condition: image.title, then: image.title, else: image.resource.filename)}" maximumWidth="{maximunWidth}" maximumHeight="{maximumHeight}" allowCropping="{allowCropping}" allowUpScaling="{allowUpScaling}" class="{imageClassName}" />
            </a>
        </f:else>
    </f:if>
</f:for>
<f:if condition="{previewImage}">
    <f:else>
        </div>
    </f:else>
</f:if>